* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}



  /**********/
 /* header */
/**********/

.page-header {
	background-image: url("/static/images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: left;
	background-color: #4CAF50;
	margin-top: 0;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#big_title, #big_title a, #big_title a:visited, #big_title a:active {
	font-family: 'Oleo Script';
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: block;
	font-size: 72pt;
	text-align: center;
}

.hand {
	font-family: 'Satisfy';
	color: #ffffff;
	display: block;
	font-size: 32pt;
	text-align: center;
}


  /***********/
 /* content */
/***********/

.content {
	font-family: 'Arial';
	color: #838383;
}


  /*********/
 /* index */
/*********/

#text_form {
	display: block;
	float: left;
	width: 100%;
}

#now {
	font-family: 'Satisfy';
	font-size: 32pt;
	text-align: center;
}

#main_form {
	float: left;
	padding: 10pt;
	width: 95%;
	font-size: 32pt;
}

input {
	display: block;
	width: 100%;
	height: 48px;
	padding: 6px 12px;
	font-size: 24pt;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

.button {
	padding: 10px;
	color: #000000;
	background: #cccccc;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#images_icons {
	display: block;
	width: 100%;
}

#icons_section {
	display: block;
	width: 100%;
}

.icon {
	display: block;
	width: 100%;
}

#images_section {
	display: block;
	width: 100%;
}

#animation {
	display: block;
	width: 100%;
}

#external_links {
	display: block;
	width: 100%;
}

.external {
	float: left;
	width: 33.33%;
}



  /********/
 /* pics */
/********/

#main_pics_container {
	width: 100%;
}

.main_pics {
	display: block;
	width: 100%;
	padding-top: 10pt;
	text-align: center;
}

  /**********/
 /* floors */
/**********/

.pics_text {
	float: left;
	width: 100%;
	padding-top: 20pt;
}

.pics {
	width: 100%;
}

  /****************/
 /* housekeeping */
/****************/

.action_button {
	display: block;
	width: auto;
	height: auto;
	font-size: 10pt;
	color: #000000;
	background: #cccccc;
}

#success {
	color: #4CAF50;
	padding-bottom: 10pt;
}

.hidden {
	display: none;
}

.hidden_details {
	display: none;
	padding: 10px 30px 30px 10px;
}

table, td, th {
	/*border: 1px solid black;*/
	text-align: left;
	padding: 5px;
}

.col1 {
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	background-color: #f2f2f2;
}

#housekeeping {
	padding: 10pt;
}



  /******************************/
 /* confirmation and rejection */
/******************************/

#squirrel {
	display: block;
	padding-left: 25%;
	max-width: 50%;
}

#generic_info {
	display: inline;
	font-size: 12pt;
	padding: 10pt;
}

#detail {
	text-align: center;
	font-size: 16pt;
	padding: 10pt;
}


  /********/
 /* maps */
/********/

#map_text {
	display: block;
	font-size: 14pt;
	text-align: left;
	padding-left: 25%;
	padding-top: 50pt;
	width: 75%;
}

#map {
	display: block;
	width: 100%;
	min-height: 600pt;
	padding-top: 50pt;
}

  /************/
 /* calendar */
/************/

#calendar {
	display: block;
	width: 100%;
	min-height: 500pt;

}

  /*********/
 /* price */
/*********/

#price {
    width:100%;
    padding-top: 20pt;
   }

#price_text {
	text-align: center;
	font-size: 20pt;
	padding-top: 20pt;
}






  /***********/
 /* desktop */
/***********/

@media only screen and (min-device-width: 768px) {

	  /**********/
	 /* header */
	/**********/


	#big_title, #big_title a, #big_title a:visited, #big_title a:active {
		display: inline;
		text-align: left;
		word-spacing: 20%;
		padding-left: 0.8%;
	}

	.hand {
		padding-top: 50pt;
		padding-right: 0.8%;
		font-size: 20pt;
		float: right;
	}


	  /*********/
	 /* index */
	/*********/

	#text_form {
		width: 25%;
	}

	#now {
		padding-top: 10pt;
		padding-left: 18%;
		font-size: 150%;
	}

	#main_form {
		padding: 3%;
		font-size: 12pt;
	}

	input {
		height: 24px;
		font-size: 10pt;
	}

	#images_icons {
		float: right;
		width: 70%;
		padding-left: 5%;
	}

	.icon {
		display: inline;
		width: 23.75%;
	}

	#animation {
		float: left;
		width: 75%;
	}

	#external_links {
		float: right;
		width: 25%;
	}

	.external {
		display: block;
		width: 100%;
	}


	  /********/
	 /* pics */
	/********/

	.main_pics {
		float: left;
		width: 29%;
		padding: 2%;
	}

	  /**********/
	 /* floors */
	/**********/

	.pics_text {
		width: 50%;
	}


	  /****************/
	 /* housekeeping */
	/****************/

	.hidden_details {
		padding: 20px 40px 40px 60px;
	}

	#housekeeping {
		padding: 30pt;
	}


	  /******************************/
	 /* confirmation and rejection */
	/******************************/

	#squirrel {
		float: right;
		padding: 5%;
		max-width: 25%;
	}

	#generic_info {
		float: left;
		max-width: 50%;
		font-size: 12pt;
		padding-top: 15%;
		padding-left: 5%;
	}

	#detail {
		padding: 30pt;
	}

	  /********/
	 /* maps */
	/********/

	#map_text {
		float: left;
		padding-left: 10%;
		padding-top: 100pt;
		width: 30%;
	}

	#map {
		float: right;
		width: 50%;
		min-height: 100pt;
		padding-right: 10%;
		padding-top: 10pt;
	}

	  /************/
	 /* calendar */
	/************/

	#calendar {
		float: right;
		width: 65%;
		min-height: 100pt;
		padding-left: 5%;
		padding-right: 3%;
		padding-top: 20pt;
	}

	  /*********/
	 /* price */
	/*********/

	#price {
	    width:60%;
	    margin-left:25%;
	    margin-right:15%;
	    padding-top: 50pt;
    }



}