{% load staticfiles %}

<html>
    <head>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Yellowtail&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/book.css' %}">
		
		<title>Casa Dori</title>        
        
    </head>
    
    <body>
        <div class="page-header">
            <h1><a href="/">Casa Dori</a></h1>
            Tu casa rural en Yunclillos (Toledo)
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    
</html>