{% extends 'book/main_form.html' %}
{% load staticfiles %}



{% block extra_content %}
	
    
    <!-- images and icons -->
	<div id="images_icons">
	
		<!-- icons section -->
	 	<div id="icons_section">
			<a href="{% url 'maps' %}">
	            <img class="icon" src="{% static "images/location.png" %}" alt="Ubicación">
	        </a>
	        <a href="{% url 'calendar' %}">
	            <img class="icon" src="{% static "images/calendar.png" %}" alt="Disponibilidad">
	        </a>
	        <a href="{% url 'pics' %}">
	            <img class="icon" src="{% static "images/checklist.png" %}" alt="Características">
	        </a>
	        <a href="{% url 'price' %}">
	            <img class="icon" src="{% static "images/price.png" %}" alt="Tarifas">
	        </a>
		
		</div>
		
	    <!-- images section -->
	    <div id="images_section">
	    
	    	<!-- animated gif -->
    	    <a href="{% url "pics" %}">
            	<img id="animation" src="{% static "images/casa.gif" %}" alt="Casa Dori">
        	</a>

	
			<!-- external links -->
			<div id="external_links">
				<a href="http://toledocapitalgastronomia.com/" target="_blank">
			    	<img class="external" src="{% static "images/comida.jpg" %}" alt="Gastronomía">
		        </a>
		        <a href="http://www.turismocastillalamancha.es/naturaleza/toledo/" target="_blank">
		            <img class="external" src="{% static "images/berrea.jpg" %}" alt="Naturaleza">
		        </a>
		        <a href="http://www.toledo-turismo.com/es/agenda-cultural_680" target="_blank">
		            <img class="external" src="{% static "images/toledo.jpg" %}" alt="Cultura">
		        </a>
			</div>
	         
	    </div>
	
	</div>

       
{% endblock %}