<html>
    <head>
        <title>Casa Dori</title>
    </head>
    <body>
        
        <div>
            <h1>Casa Dori</h1>
            Tu casa rural en Yunclillos (Toledo)
        </div>
        
        <div>
            <a href="">
                <img src="static/images/casa.gif" alt="Casa Dori" style="width:600px;height:500px;">
            </a>
        </div>
        
        <div>
            <a href="http://www.turismocastillalamancha.es/naturaleza/toledo/">
                <img src="static/images/comida.jpg" alt="Gastronomía" style="width:304px;height:228px;">
            </a>
            <a href="http://toledocapitalgastronomia.com/">
                <img src="static/images/berrea.jpg" alt="Naturaleza" style="width:304px;height:228px;">
            </a>
            <a href="http://www.toledo-turismo.com/es/agenda-cultural_680">
               <img src="static/images/toledo.jpg" alt="Cultura" style="width:304px;height:228px;">
            </a>
        </div>
        
    </body>
</html>