{% extends 'book/base.html' %}
{% load staticfiles %}


{% block content %}


    <img src="{% static "images/casa_1.jpeg" %}" alt="Casa Dori" style="width:600px;height:500px;"><br>
    <img src="{% static "images/casa_2.jpeg" %}" alt="Casa Dori" style="width:600px;height:500px;"><br>
    <img src="{% static "images/casa_3.jpeg" %}" alt="Casa Dori" style="width:600px;height:500px;"><br>
    <img src="{% static "images/casa_4.jpeg" %}" alt="Casa Dori" style="width:600px;height:500px;"><br>
    <img src="{% static "images/casa_5.jpeg" %}" alt="Casa Dori" style="width:600px;height:500px;"><br>


{% endblock %}